
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap')


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    #e64a19; 
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Source Sans Pro', sans-serif;
  --mono-font:       monospace;
  --body-font:       'Source Sans Pro', sans-serif;
  --navbar-font:     'Source Sans Pro', sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5); /*  */
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #FF6D00; /* rgba(0, 0, 0, 0.65); */
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       24px;
  --text-color:       white; /* rgba(255, 255, 255, 0.8); */
  --text-size:        18px;
  --hover-color:      #ffc300;
  --bkgd-color:       #003566; /* 14213d; 0F2E3D;*/
}


.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      #ffc300;
  --bkgd-color:       #003566; /* 14213d; 0F2E3D;*/
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

.roundedImg { 
  border-radius: .25rem!important;
}




/*-- Orangish Headers --*/
d-title h1 { 
  --title-color: #e36414;
}
d-article h2 { 
  --header-color: #e36414;
}


.post-list .metadata { 
  --text-color: rgba(1,0,0,0.5)
}





/*-- CSS FOR NEWS BOX --*/

/*--
body {
  font-family: "Open Sans";
  font-size: 100%;
  color: #333;
  line-height: 1.4;
  margin: 0;
}
--*/

.wrapper {
  box-sizing: border-box;
  background-color: #fff;
}


.hero-news {
  display: grid;
  grid-gap: 1px;
}

.hero-news > article {
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: calc(66vw - 2rem);
  box-sizing: border-box;
}

.hero-news__item:first-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(http://content.presspage.com/uploads/63/1920_163672817.jpg?10000);
    border-radius: 5px;
}

.hero-news__item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(http://content.presspage.com/uploads/63/1920_google-cardboard-wearable-virtual-reality-headset.jpg?10000);
  border-radius: 5px;
}

.hero-news__item:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(http://content.presspage.com/uploads/63/1920_screenshot2017-02-23at4.29.08pm.png?31903);
  border-radius: 5px;
}

.hero-news__item-title {
  margin: auto 0 4px;
  font-size: 1.25rem;
  line-height: 1.1;
}

.hero-news__item:first-child .hero-news__item-title {
  font-size: 1.75rem;
}

.hero-news2 .hero-news__item-title {
  order: 2;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-news2 .hero-news__item-date {
  order: 1;
  margin-top: auto;
  margin-bottom: 4px;
}

.hero-news__item-tag {}

@media (min-width:767px) {
  
  .full-width {
    margin-left: calc(-100vw / 2 + 767px / 2);
    margin-right: calc(-100vw / 2 + 767px / 2);
  }
  
  .hero-news1 {
    grid-template-columns: 2fr 1fr;
  }
  .hero-news1 .hero-news__item:first-child {
    grid-column: 1;
    grid-row: 1 / 3;
    height: auto;
  }
  .hero-news1 .hero-news__item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    height: calc(25vw - 2rem);
    max-height: 300px;
  }
  .hero-news1 .hero-news__item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    height: calc(25vw - 2rem);
    max-height: 300px;
  }
  .hero-news2 {
    grid-template-columns: 1fr 1fr;
  }
  .hero-news2 .hero-news__item:first-child {
    grid-column: 1 / 3;
    grid-row: 1;
    height: calc(50vw - 2rem);
    max-height: 600px;
  }
  .hero-news2 .hero-news__item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    height: calc(33vw - 2rem);
    max-height: 300px;
  }
  .hero-news2 .hero-news__item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    height: calc(33vw - 2rem);
    max-height: 300px;
  }
}

